<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           name="SML Editor"
           extensions="sml, sig, fun, ml"
           icon="icons/file.gif"
           contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
           class="in.iitd.mldev.ui.editor.SmlEditor"
           id="in.iitd.mldev.ui.SmlEditor">
     </editor>
  </extension>
  <extension
        point="org.eclipse.core.filebuffers.documentSetup">
     <participant
           extensions="sml, sig, fun"
           class="in.iitd.mldev.ui.editor.SmlDocumentSetupParticipant">
     </participant>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="in.iitd.mldev.ui.preferences.SmlMainPreferencePage"
           id="in.iitd.mldev.ui.SmlMainPreferencePage"
           name="SML">
     </page>
     <page
           category="in.iitd.mldev.ui.SmlMainPreferencePage"
           class="in.iitd.mldev.ui.template.SMLTemplatePage"
           id="in.iitd.mldev.ui.page1"
           name="SML Templates">
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="in.iitd.mldev.ui.openDeclaration"
           contextId="in.iitd.mldev.ui.editor.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="F3">
     </key>
     <key
           commandId="in.iitd.mldev.ui.quickOutline"
           contextId="in.iitd.mldev.ui.editor.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL+O">
     </key>
     <key
           commandId="in.iitd.mldev.ui.repl"
           contextId="in.iitd.mldev.ui.editor.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL+ALT+S">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="in.iitd.mldev.ui.handler.SmlOpenDeclarationHandler"
           commandId="in.iitd.mldev.ui.openDeclaration">
     </handler>
     <handler
           commandId="in.iitd.mldev.ui.quickOutlineHandler">
     </handler>
     <handler
           class="in.iitd.mldev.ui.handler.SmlReplHandler"
           commandId="in.iitd.mldev.ui.repl">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="in.iitd.mldev.ui.keyBindings"
           id="in.iitd.mldev.ui.openDeclaration"
           name="Open Declaration Command">
     </command>
     <category
           id="in.iitd.mldev.ui.keyBindings"
           name="SML">
     </category>
     <command
           categoryId="in.iitd.mldev.ui.keyBindings"
           id="in.iitd.mldev.ui.quickOutline"
           name="Quick Outline">
     </command>
     <command
           categoryId="in.iitd.mldev.ui.keyBindings"
           id="in.iitd.mldev.ui.repl"
           name="Load In REPL">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           id="in.iitd.mldev.ui.editor.context"
           name="Editor Context"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
  <extension
        point="org.eclipse.ui.editors.templates">
     <contextType
           class="in.iitd.mldev.ui.template.SMLTemplateContextType"
           id="in.iitd.mldev.ui.SMLContextType"
           name="SML"
           registryId="in.iitd.mldev.ui.SMLContextTypeRegistry">
     </contextType>
     <contextTypeRegistry
           id="in.iitd.mldev.ui.SMLContextTypeRegistry">
     </contextTypeRegistry>
     <template
           autoinsert="true"
           contextTypeId="in.iitd.mldev.ui.SMLContextType"
           description="case statement"
           id="in.iitd.mldev.ui.caseTemplate"
           name="case">
        <pattern>
           case ${VAR} of
    ${CASE} =&gt; ${ACTION}
        </pattern>
     </template>
  </extension>
  <extension
        point="org.eclipse.jdt.core.codeFormatter">
     <codeFormatter
           class="in.iitd.mldev.ui.editor.SmlCodeFormatter">
     </codeFormatter>
  </extension>
  <extension
        point="org.eclipse.ui.workbench.texteditor.rulerColumns">
     <column
           class="in.iitd.mldev.ui.ContributedRulerColumn1"
           enabled="true"
           global="true"
           id="in.iitd.mldev.ui.column1"
           includeInMenu="true">
        <placement
              gravity="1.0">
        </placement>
     </column>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="in.iitd.mldev.ui.smlView"
           name="SML">
     </category>
     <view
           allowMultiple="false"
           category="in.iitd.mldev.ui.smlView"
           class="in.iitd.mldev.ui.repl.SmlReplView"
           id="in.iitd.mldev.ui.smlREPLView"
           name="SML REPL"
           restorable="true">
     </view>
  </extension>
  
</plugin>
