<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           name="SML Editor"
           extensions="sml, sig, fun, ml"
           icon="icons/file.gif"
           contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
           class="in.iitd.mldev.ui.editor.SmlEditor"
           id="in.iitd.mldev.ui.SmlEditor">
     </editor>
  </extension>
  <extension
        point="org.eclipse.core.filebuffers.documentSetup">
     <participant
           extensions="sml, sig, fun"
           class="in.iitd.mldev.ui.editor.SmlDocumentSetupParticipant">
     </participant>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           name="SML"
           class="in.iitd.mldev.ui.preferences.SmlMainPreferencePage"
           id="in.iitd.mldev.ui.SmlMainPreferencePage">
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="in.iitd.mldev.ui.openDeclaration"
           contextId="in.iitd.mldev.ui.editor.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="F3">
     </key>
     <key
           commandId="in.iitd.mldev.ui.quickOutline"
           contextId="in.iitd.mldev.ui.editor.context"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL O">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="in.iitd.mldev.ui.handler.SMLOpenDeclarationHandler"
           commandId="in.iitd.mldev.ui.openDeclaration">
     </handler>
     <handler
           commandId="in.iitd.mldev.ui.quickOutlineHandler">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="in.iitd.mldev.ui.keyBindings"
           id="in.iitd.mldev.ui.openDeclaration"
           name="Open Declaration Command">
     </command>
     <category
           id="in.iitd.mldev.ui.keyBindings"
           name="SML">
     </category>
     <command
           categoryId="in.iitd.mldev.ui.keyBindings"
           id="in.iitd.mldev.ui.quickOutline"
           name="Quick Outline">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           id="in.iitd.mldev.ui.editor.context"
           name="Eeditor Context"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>

</plugin>
